<div *ngIf="bindingModel">
    <div class="row">
      <div class="col-xs-12">
        <form #f="ngForm" (ngSubmit)="edit()">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="name">Maker</label>
                <input
                  required
                  type="text"
                  minlength="2"
                  maxlength="150"
                  id="maker"
                  name="maker"
                  [(ngModel)]="bindingModel.maker"
                  class="form-control">
              </div>
            </div>
          </div>
  
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="model">Model</label>
                <input
                  required
                  type="text"
                  minlength="2"
                  maxlength="150"
                  id="model"
                  name="model"
                  [(ngModel)]="bindingModel.model"
                  class="form-control">
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="model">Condition</label>
                <input
                  required
                  type="text"
                  minlength="2"
                  maxlength="150"
                  id="condition"
                  name="condition"
                  [(ngModel)]="bindingModel.condition"
                  class="form-control">
              </div>
            </div>
          </div>           
  
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="model">Price</label>
                <input
                  required
                  type="number"
                  [min]=0
                  [max]=10000000
                  id="price"
                  name="price"
                  [(ngModel)]="bindingModel.price"
                  class="form-control">
              </div>
            </div>
          </div> 
  
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="model">Image Url</label>
                <input
                  required
                  type="text"
                  minlength="2"
                  maxlength="1000"
                  id="imageUrl"
                  name="imageUrl"
                  [(ngModel)]="bindingModel.imageUrl"
                  class="form-control">
              </div>
            </div>
          </div> 
  
        <button class="btn btn-warning" [disabled]="f.invalid" type="submit">Edit</button>
        </form>
      </div>
    </div>
  </div>