<div class="row">
  <div class="col-xs-12">
    <form #f="ngForm" (ngSubmit)="create()">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Maker</label>
            <input
              required
              type="text"
              id="maker"
              name="maker"
              [(ngModel)]="bindingModel.maker"
              class="form-control">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="model">Model</label>
            <input
              required
              type="text"
              id="model"
              name="model"
              [(ngModel)]="bindingModel.model"
              class="form-control">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="model">Condition</label>
            <input
              required
              type="text"
              id="condition"
              name="condition"
              [(ngModel)]="bindingModel.condition"
              class="form-control">
          </div>
        </div>
      </div>         

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="model">Price</label>
            <input
              required
              type="text"
              id="price"
              name="price"
              [(ngModel)]="bindingModel.price"
              class="form-control">
          </div>
        </div>
      </div> 

      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="model">Image Url</label>
            <input
              required
              type="text"
              id="imageUrl"
              name="imageUrl"
              [(ngModel)]="bindingModel.imageUrl"
              class="form-control">
          </div>
        </div>
      </div> 

     <button class="btn btn-primary" [disabled]="f.invalid" type="submit">Create Part</button>
    </form>
  </div>
</div>