<div class="col-md-12 text-center">
    <h1>{{userEmail}} Parts</h1>
  </div>
  <div class="row text-center">
    <div *ngFor="let part of parts | async" class="col-xs-12 col-md-4 part">
      <div *ngIf="part.ownerId == ownerId">
          <div class="list-group-item clearfix">
              <div class="pull-left">
                <h4 class="list-group-item-heading"><span class="part-info">Maker</span> - <span class="text-primary">{{part.maker}}</span></h4>
                <p class="list-group-item-text"><span class="part-info">Model</span> - <span class="text-primary">{{part.model}}</span></p>
                <p class="list-group-item-text"><span class="part-info">Condition</span> - <span class="text-primary">{{part.condition}}</span></p>
                <p class="list-group-item-text"><span class="part-info">Price</span> - <span class="text-primary">{{part.price}}</span></p>
              </div>
              <span class="pull-right">
                    <img
                      src="{{part.imageUrl}}"
                      alt="{{part.model}}"
                      class="img-responsive part-img">
               </span>
               <div class="part-actions text-white">
                <a *ngIf="authService.isAdmin() || part.ownerId == ownerId" class="btn btn-warning text-white" routerLink="/parts/edit/{{part.id}}">Edit</a>
                <a *ngIf="authService.isAdmin() || part.ownerId == ownerId" class="btn btn-danger" (click)="delete(part.id)">Delete</a>
               </div>
              </div>    
      </div>          
    </div>
  </div>